<div class="row main-row">
    <div id="divExplorer" class="explorer col-md-4" data-ng-controller='ExplorerController'>
        <h3>Databases</h3>
        <div>
            <select data-ng-model="selectedDatabase" data-ng-options='db.databaseName for db in databases' data-ng-change='onDatabaseSelected()'></select>
        </div>

        <h3>Breadcrumbs</h3>
        <div data-ng-repeat="pathInfo in currentPathParts">
            <span>
                <a data-ng-href="#{{urlPrefix + pathInfo.path}}" ><span>{{pathInfo.lastPartDisplay}}</span></a>
            </span>
        </div>

        <h3>Contents</h3>
        <div>
            <div data-ng-repeat="pathInfo in currentPathContents">
                <a data-ng-href="#navigator/{{pathInfo.path}}"><span>{{pathInfo.lastPartDisplay}}</span></a>
            </div>
        </div>
    </div>
    <div id="divEditor" class="editor col-md-8" data-ng-controller='EditorController'>

        <div class="full-height">
            <textarea ui-codemirror="{onLoad:codeMirrorLoaded}" data-ng-model="documentContent"></textarea>
        </div>
    </div>
</div>